
body {
  overflow-x: hidden;
  width: auto;
  box-sizing: border-box;
  font-family: 'Raleway';
}


.header {
  position:absolute;
  width:100%;
  height:8vh;
  top:0;
  left:0;
  background:#000;
  color: #E0E3E2;
  padding: 0 32px;
}

.nav {
  width:100%;
  height:100%;
  display:flex;
  justify-content: space-between;
/*   align-items:center; */
}




.logo img {
 width: 5%;
 object-fit: cover;
 padding: 0 11px 0 30px;
}



.menu {
  align-items: center;
  font-family: 'Raleway';
  font-weight: normal;
  display:flex;
  list-style: none;
  justify-content: center;
  background-color:#4c5155;
  box-shadow: inset 0px 0px 49px -13px #000000;
  padding:30px;
  gap:100px;
  margin-top: -75px;
}

.menu li a {
  font-size: 25px;
  color: #E0E3E2;
  text-decoration: none;
}





.hello h1 {
  font-family: 'Raleway';
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 266px;
  font-size: 40px;
  color: #E0E3E2;
  margin-top: -25%;
  margin-left: 4%;
}


.hello_background img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  margin-top: -16px;

}

.presentation {
  width: 100%;
  height:480px;
  padding: 1px;
  background-color: #d6cfcb;
  box-shadow:inset 1px 0px 14px 0px #4d4847;
}

.presentation_face img {
  border-left-style: solid ;
  border-radius: 50%;
  height: 270px;
  margin-left: 20px;
  margin-top: 70px;
}

.presentation_text h2 {
  font-size:28px;
  font-family: 'Raleway';
  font-weight: lighter;
  margin-top: -230px;
  margin-left: 22%;

}


.competences_img img {
  width: 100%;
  object-fit: cover;
}

.competences_list {
 margin-top: -60%;
}

.competences {
  text-align: center; 
  font-family: 'Raleway';
  font-weight:bold;
}

.competences_category {
 font-family: 'Raleway';
 font-weight:bold;
 text-align: center;

}

.competences_front {
 font-family: 'Raleway';
 font-weight: normal;
/*  padding-top: 20px; */
display:grid;
grid-auto-flow: column;
justify-content:space-evenly;
}

.competences_cms {
  font-family: 'Raleway';
  font-weight: normal;
/*  padding-top: 20px; */
display:grid;
grid-auto-flow: column;
justify-content:space-evenly;

}

.program  {
  border-radius: 20px;
  border: 2px solid;
  border-image: linear-gradient(45deg,#D5CC8EFF,#000) 10;
  width: 125px;
}

.program h4 {
 font-family: 'Raleway';
 font-weight:bold;
 text-decoration: none;
 text-align: center;
}

.cms {
  border: 2px solid;
  border-image: linear-gradient(45deg,#D5CC8EFF,#000) 10;
  border-radius: 20px;
  width: 125px;
  

}

.cms h4 {
 font-family: 'Raleway';
 font-weight:bold;
 text-decoration: none;
 text-align: center;

}

.project {
 display:flex;
 justify-content: space-around;
}



.portfolio h2 {
  display:flex;
  justify-content: center;
  font-family: 'Raleway';
  font-weight: bold;
  padding-top: 100px;
  text-align: center;
}

.project_list img {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  width: 220px;
  height: 120px;
  gap:20px;
  border: 2px solid;
  border-image: linear-gradient(45deg,#D5CC8EFF,#000) 10;
}

/* CONTACT */

.form_bloc {
  display: flex;
  justify-content: center;
}

.contact_font img {
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  object-fit: cover;
  padding-top: 10%;
  padding-bottom: 10%;
}

.contact h2 {
  font-family: 'Raleway';
  font-weight: bold;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}


.contact_bloc {
  width: 500px;
  height: 400px;
  border-radius: 16px;
  background: linear-gradient(230.46deg, #F9F9F9FF -2.98%, #CCB380FF 68.14%, #BEA46EFF 104.54%);
  box-shadow: inset 3px 3px 15px 3px #000000;
}


.contact_mail {
  text-align: center;
  text-decoration: none;
  
 
}

.contact_tel {
  text-align: center;
}

.contact_me p a {
  color: black;
  text-decoration: none; 
}

.contact_me {
  font-size:20px;
}


/*FOOTER*/

.footer_section { 
  background-color: #E9E0CEFF;
  padding:2px;
}



.social_media {
  display:flex;
  justify-content: center;
}

.copyright p {
  display:flex;
  justify-content: center;
  font-family: 'Raleway';
  font-weight: normal;

}

.mentions  {
  display:flex;
  justify-content: center;
  
}

.mentions a {
  font-family: 'Raleway';
  font-weight: bold;
  color:#000000;
  text-decoration: none;
}


@media screen and (max-width:1286px) {


  .presentation_face img{
    height:230px;
  }


  .presentation_text h2 {
   font-size:20px;
 }


}

@media screen and (max-width:1080px) {

  .presentation {
    height: 620px;

  }

  .presentation_face {
    display:flex;
    justify-content: center;
    margin-top: 4%;
  }


  .presentation_text h2 {
    margin-top:4%;
    font-size: 18px;
  }

  .competences_img img {
    height: 850px;
  }

  .competences_list {
    margin-top: -80%;
  }



.project-list {
    display:flex;
    justify-content: center;
    margin-right: 45%;
}


.portfolio img {
display: flex;
    justify-content: center;
    margin-right: 46%;

} 

.form_bloc {
  display:flex;
}

}




@media screen and (max-width:1000px) {

  .header {
    background:transparent;
  }




.menu li a {
  font-size:32px;
}

 



}



@media screen and (max-width:885px) {

 .menu li a {
  font-size:25px;
}


.presentation_face img {
  height:200px;
}

.presentation_text h2 {
 margin-top:4%;
 font-size: 15px;
 margin-left: 18%;
}

.competences_list {
  margin-top: -100%;
}


}

@media screen and (max-width:700px) {

  .competences_img img {
    height:1200px;
  }

  .competences_list {
    margin-top: -180%;
  }


.competences_front {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.competences_cms {
    display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.portfolio {
  margin-top: -10%;
}


.project {
 display: flex;
 flex-direction: column;
 gap: 20px;
 align-items: center;
}


.contact_bloc {
  width: 400px;
  

}




}


@media screen and (max-width:500px) {



   .competences_img img {
    height: 1100px;
  }

.competences_list {
    margin-top: -300%;
}

.competences .portfolio h2 {
  font-size:14px;
}



.contact_bloc {
  width: 290px;

}






  }
